body {
    background-image: url(../images/water_bg.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
}

.content {
    margin: 15% auto auto;
}

.site-list {
    list-style-type: none;
    margin-left: -15px;
}

.site-list > li > a:hover {
    text-decoration: none;
}

.container {
    padding-top: 30vh;
    width: 25%;
}

@media (max-width: 1152px) {
    .container {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 75%;
    }
}

@media (max-width: 500px) {
    .container {
        width: 100%;
    }
}

.card-body p {
    font-style: oblique;
    color: grey;
    font-size: 12px;
}

.site-list {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}

.site-list li::before {
    font-weight: 600;
    padding-left: 20px;
    padding-right: 10px;
    content: '»'
}