body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
}

.content {
    margin: 15% auto auto;
}

.site-list {
    list-style-type: none;
    margin-left: -15px;
}
.site-list>li>a:hover {
    text-decoration: none;
}