body {
    background: url(../images/darkness.png) !important;
}

.content-line {
    color: white;
    text-align: center;
}

.content-link {
    color: white;
    text-decoration: none;
}

.content-link:hover {
    color: navajowhite;
    transition: 3s;
    text-shadow:
            1px 1px gray,
            2px 2px gray,
            3px 3px gray;
    transform: translateX(-3px);
    text-decoration: none;
}

